
* {
    box-sizing: border-box;

}
body{
    background-color: #979797;
    margin: 0;
    padding:0;
    font-family: "Hanken Grotesk", sans-serif; 
    width: 100vw;
    height: 100vh;
}

.container {
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color:#f1f1f1;
    min-height: 100%;
}

.mainDiv{
    width: 736px;
    height: 512px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
  
}
.sectionLeft{
    width: 368px;
    height: 512px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    border-radius: 32px;
    background-color: #7755FF;
    background: linear-gradient(#6943FF, #2F2CE9);

}
.sectionRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 32px;
    background-color:white;
    padding:38px 40px 46px 40px;
    box-sizing: border-box;

}
.Pdiv{
   width:125px;
   height:31px;
   text-align:center;
   font-weight:bold;
   font-family:"Hanken Grotesk", sans-serif;   
   font-size:24px;
   color: #CAC9FF;
   
}
.numbResult{
    width: 200px;
    height: 200px;
    
}
.resultText{
    width: 260px;
    height: 134px;
    color: #CAC9FF;
    text-align: center;
    font-size: 18px;
    font-family: "Hanken Grotesk", sans-serif; 
    margin-bottom: 46px;
    
}
.resultP{
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif; 
    color:#CAC9FF;   
}
.resultF{
    font-size: 32px;
    color:#FFFFFF;
}
.headerContainer{

}
.headerTitle{
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: "Hanken Grotesk", sans-serif; 
    color:#303B59;
}
.statisticList{
    width: 288px;
    height: 272px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 
 
}
.button{
    width: 288px;
    height: 56px;
    border-radius: 128px;
    background-color:#303B59;
    color: white;
}
.statisticMain{
    width: 368px;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list_item{
    width: 288px;
    height: 56px;
    border-radius: 22px;
    font-size: 18px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left:16px;
    padding-right:16px;
    
}
.item_left{
    display: flex;
    align-items: center;

}
.item_left span {
    margin-left: 12px;
}

.item_right {
    display: flex;
    align-items: center;
}

.list_item_value {
    color:#303B59;
    font-weight: 700;
    font-size: 18px;

}

.item_text_percent {
    color:  rgba(48, 59, 89, .3);
    font-weight: 700;
    font-size: 18px;
}

.item_slash{
    color:  rgba(48, 59, 89, .3);
    font-weight: 700;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
}

.item_reaction{
    background-color:rgba(255, 85, 85, 0.05);
    color:rgba(255, 85, 85, 1);
   
}
.item_memory{
    background-color:rgba(255, 178, 30, 0.05);
    color:rgba(255, 178, 30, 1);


}
.item_verbal{
    background-color:rgba(0, 187, 143, 0.05);
    color:rgba(0, 187, 143, 1);


}
.item_visual{
    background-color:rgba(17, 37, 214, 0.05);
    color: rgba(17, 37, 214, 1)
}

.reaction_icon{
    width: 11.67px;
    height: 15px;
}
.memory_icon{
width: 16.67px;
height: 16.67px;
}
.verbal_icon{
    width: 16.67px;
    height: 16.67px;
}
.visual_icon{
width: 15px;
height: 10px;
}

.icon_container {
    width: 20px; height: 20px;
}